.feature-icon   {
    width:  4rem;
    height: 4rem;
    border-radius:  .75rem;
}

.feature-icons  {
    width:  2rem;
    height: 2rem;
    display:    flex;
    justify-content:    center;
    align-items:    center;
}   

body {
    background-color: #a1bce9;
}

ul {
    list-style-type: none;
    
}

a {
    color: black;
    text-decoration: none;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media (max-width: 567px) {
    p {
    font-size: 2rem;
    }
}
