
body {
    background-color: #a1bce9;
}

ul {
    list-style-type: none;
    
}

a {
    color: black;
    text-decoration: underline;
}

svg {
    color: black;
}


@media (max-width: 567px) {
    p {
    font-size: 1rem;
    }
}
